
/* Main Style */
body {
    font-family: 'Krub', sans-serif;
    background-color: #71CCCC;
}

/* Header */
.jumbotron {
    background-color: #234040;
    color: #A0E5E5;
}

/* Table and Form cards */
.card {
    color: #234040;
    font-size: 1.2rem;
}

.card-header {
    font-weight: bold;
}

/* Table */
tr {
    line-height: 2;
    text-align: center;
}

.table-center {
    margin: 1rem;
}

label {
    margin-top: 1rem;
}

/* Form */
form {
    padding: 1em;
}

.employee-form {
    margin: 3em auto;
}

/* Submit button */
.btn {
    background-color: #234040;
    border: 1px solid #234040;
}

.btn:hover {
    background-color: #71CCCC;
    border: 1px solid #234040;
}